* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 5px;
    white-space: nowrap;
    max-width: 500px;
    min-width: 200px;
}

h2 {
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    margin-bottom: 3px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

/* List item */

li {
    list-style: none;
    display: block;
    font-size: 11px;
    color: #333;
    position: relative;
    overflow: hidden;
    line-height: 20px;

    a {
        color: #666;
        display: block;
        padding: 1px 4px 3px 4px;
        text-overflow: ellipsis;
        padding-right: 10px;
        overflow: hidden;

        &:hover {
            color: #ffffff;
            background-color: #aec2eb;
        }

        em {
            display: block;
            font-size: 10px;
        }
    }
}

.hoverUrl {
    .link {
        display: none;
    }

    li {
        overflow: hidden;

        &:hover {
            .title {
                display: none;
            }

            .link {
                display: inline;
                color: #333;
                white-space: nowrap;
                white-space: pre;
            }
        }
    }
}

li:hover menu,
h2:hover menu {
    display: block;
}

/* Menu */
menu {
    float: right;
    padding-left: 5px;
    text-align: center;

        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        border-left: 1px solid #ccc;

    li {
        float: right;
    }

    a {
        background: no-repeat right center #fff;
        width: 16px;
        height: 16px;
        text-indent: -5000px;
        padding: 4px;

        &:hover {
            background-color: #fff;
        }
    }
}

h2 menu {
    top: 4px;
    padding-right: 5px;
}

a {
    &.delete {
        background-image: url(../img/icon-delete.png);
    }

    &.twitter {
        background-image: url(../img/icon-twitter.png);
    }

    &.facebook {
        background-image: url(../img/icon-facebook.png);
    }

    &.email {
        background-image: url(../img/icon-email.png);
    }

    &.options {
        background-image: url(../img/icon-options.png);
    }

    &:hover {
        &.delete {
            background-image: url(../img/icon-delete-hover.png);
        }

        &.twitter {
            background-image: url(../img/icon-twitter-hover.png);
        }

        &.facebook {
            background-image: url(../img/icon-facebook-hover.png);
        }

        &.email {
            background-image: url(../img/icon-email-hover.png);
        }

        &.options {
            background-image: url(../img/icon-options-hover.png);
        }
    }
}

.folders {
    li {
        line-height: normal;
    }

    em {
        display: block;
    }

    menu {
        a {
            height: 25px;
        }
    }
}

.footer {
    padding: 7px 0px 0px 0px;
    border-top: 1px solid #cccccc;
    font-size: 10px;
    color: #666;
    line-height: 14px;

    a {
        color: #009;
        text-decoration: underline;
    }
}